<div class="boxed">
<fieldset>
  <legend><%= contact.name %></legend>
</fieldset>

  <p><strong>Email: </strong><%= contact.email %></p>
  <p><strong>Phone Number: </strong><%= contact.phone_number %></p>

  <p><a href="" class="link" data-thisId="<%=contact.id%>" onclick="showAppointments(); return false;">Click to view upcoming appointments with this Contact.</a></p>
  <ul id="contactAppts"></ul>

  <fieldset><legend></legend></fieldset>

  <p><%= link_to "Edit", edit_contact_path(contact) %> |
     <%= link_to "Delete", contact_path(contact), method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %> |
     <%= link_to "Back", contacts_path %>
   </p>

</div>
