<fieldset>
  <legend><%= appointment.name %></legend>
</fieldset>

<p><strong>Description</strong>: <%= appointment.description %></p>
<p><strong>Start Time</strong>: <%= appt_start_time(appointment) %></p>
<p><strong>Contact</strong>: <%= link_to appointment.contact.name, contact_path(appointment.contact) %> | <%= appointment.contact.email %> | <%= appointment.contact.phone_number %></p>
<p><strong>Location</strong>: <%= link_to appointment.location.name, location_path(appointment.location) %></p>

<%= link_to "Edit", edit_appointment_path(appointment) %> | <%= link_to "Back", appointments_path %>
<br /><br />
