<table>
<%= form_for appointment do |f| %>
  <tr>
    <td><%= f.label :name %></td>
    <td class="left"><%= f.text_field :name, :placeholder=>"Name" %></td>
  </tr>
  <tr>
    <td><%= f.label :description %></td>
    <td class="left"><%= f.text_area :description, :placeholder=>"Description" %> </td>
  </tr>
  <tr>
    <td><%= f.label :start_time %></td>
    <td class="left"><%= f.datetime_local_field :start_time %> </td>
  </tr>

  <% if current_user.contacts.any? %>
    <tr>
      <td><strong>Contact</strong></td>
      <td class="left"><%= f.collection_select :contact_id, current_user.contacts, :id, :name, :include_blank => true %></td>
    </tr>
  <% end %>

  <% if current_user.locations.any? %>
    <tr>
      <td><strong>Location</strong></td>
      <td class="left"><%= f.collection_select :location_id, current_user.locations, :id, :name, :include_blank => true %></td>
    </tr>
  <% end %> <td></td>

    <tr>
      <td></td>
      <td>Create a new Contact for this appointment: </td>
    </tr>
    <%= f.fields_for :contact, Contact.new do |g| %>
      <%= render partial: "contact_fields", locals: {g: g} %>
    <% end %>
    <td></td>

  <tr>
    <td></td>
    <td>Create a new Location for this appointment: </td>
  </tr>
    <%= f.fields_for :location, Location.new do |g| %>
      <%= render partial: "location_fields", locals: {g: g} %>
    <% end %>
    <td></td>

  <tr>
    <td></td>
    <td class="left"><%= f.submit %></td>
  </tr>
<% end %>
</table>
