<table>
<%= form_for appointment do |f| %>
  <tr>
    <td><%= f.label :name %></td>
    <td class="left"><%= f.text_field :name, :placeholder=>"Name" %></td>
  </tr>
  <tr>
    <td><%= f.label :description %></td>
    <td class="left"><%= f.text_area :description, :placeholder=>"Description" %> </td>
  </tr>
  <tr>
    <td><%= f.label :start_time %></td>
    <td class="left"><%= f.datetime_local_field :start_time %> </td>
  </tr>

<% if current_user.contacts.any? %>
  <tr>
    <td><strong>Select a Contact</strong></td>
    <td class="left"><%= f.collection_select :contact_id, current_user.contacts, :id, :name, :include_blank => true %></td>
  </tr>
<% end %>

    <tr>
      <td></td>
      <td>Create a new Contact for this appointment</td>
    </tr>
    <%= f.fields_for :contact, Contact.new do |g| %>
    <tr>
      <td><%= g.label :name %></td>
      <td class="left"><%= g.text_field :name %> </td>
    </tr>
    <tr>
      <td><%= g.label :email %></td>
      <td class="left"><%= g.text_field :email %> </td>
    </tr>
    <tr>
      <td><%= g.label :phone_number, "Phone" %></td>
      <td class="left"><%= g.text_field :phone_number %> </td>
    </tr>
      <% end %>

  <% if current_user.locations.any? %>
  <tr>
    <td><strong>Select a Location</strong></td>
    <td class="left"><%= f.collection_select :location_id, current_user.locations, :id, :name, :include_blank => true %></td>
  </tr>
    <% end %>

  <tr>
    <td></td>
    <td>Create a new Location for this appointment: </td>
  </tr>
    <%= f.fields_for :location, Location.new do |g| %>
      <tr>
        <td><%= g.label :name %></td>
        <td class="left"><%= g.text_field :name %> </td>
      </tr>
      <% end %>
  <tr>
    <td></td>
    <td class="left"><%= f.submit %></td>
  </tr>
<% end %>
</table>
