<fieldset>
<legend><%= @appointment.name %></legend> <br />
<p>Description: <%= @appointment.description %></p> <br />
<p>Start Time: <%= @appointment.start_time %></p> <br />
</fieldset>

<%= link_to "Edit", edit_appointment_path %> | <%= link_to "Back", appointments_path %>