<!DOCTYPE html>
<html>
  <head>
    <title>Appointment Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/navbar' %>
      <div class="container">
      <%= yield %>
      <!-- <footer>
        <p>&copy; @mdjurdj1 2017</p>
      </footer> -->

    </div><!--/container-->

  </body>


</html>
